*.bak
*.lo
*.o
*.orig
*.rej
*.tab.c
*~
.deps
.libs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/ltmain.sh
/depcomp
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libtool
/missing
/m4
/stamp-h1
*.stamp
*.la
test-list
test-list.c
test-scrolled
test-scrolled.c
/egg-list-box-uninstalled.pc
/omf.make
/xmldocs.make
