*.la
*.lo
*.o
*.tar.xz
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config
configure
data/gnome-pomodoro.desktop
data/org.gnome.Pomodoro.service
data/org.gnome.pomodoro.gschema.valid
data/org.gnome.pomodoro.gschema.xml
egg-list-box/*.gir
egg-list-box/*.typelib
extension/metadata.json
extension/Makefile
extension/Makefile.in
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
m4/
omf.make
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
src/*.c
src/*.gir
src/*.h
src/*.typelib
src/config.js
src/Makefile
src/Makefile.in
stamp-h1
vapi/gnome-desktop-3.0.vapi
vapi/upower-glib.vapi
xmldocs.make
*~
*.patch
*.stamp
*.sw?

Build/*
Debug/*
*~
*.patch
*.sw?
