@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}


.keybinding {
    font-size: 16pt;
}

.keybinding .key {
    font-weight: bold;
    background-color: @theme_base_color;
    padding: 8px 16px;
    border: 1px solid alpha(@borders, 0.4);
    border-radius: 5px;
}

.pomodoro-list > row {
    padding: 12px 20px;
}

.pomodoro-list > row.pomodoro-wide-row {
    padding: 12px 15px;
}

.pomodoro-list > row.pomodoro-slim-row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pomodoro-plugin-name {
    font-weight: bold;
}

.pomodoro-plugin-description {
    font-size: small;
}

.pomodoro-state-button {
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: 1.2em;
    font-weight: bold;
}

.pomodoro-separator-label:backdrop {
    color: @insensitive_fg_color;
}

.pomodoro-screen-notification.background {
    background-color: rgba(0, 0, 0, 0.7);
}

.pomodoro-screen-notification {
    color: white;
    transition: opacity 180ms ease-out;
    opacity: 1.0;
}

.pomodoro-screen-notification.hidden {
    opacity: 0.0;
}

.pomodoro-screen-notification .pomodoro-timer-label,
.pomodoro-screen-notification .pomodoro-timer-label:backdrop {
    font-size: 55pt;
    font-weight: normal;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.10);
    color: white;
}

.pomodoro-screen-notification label,
.pomodoro-screen-notification label:backdrop {
    font-size: 11pt;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    color: white;
}

/* classes backported from Gtk4 */
.dialog.message .title {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15pt;
    font-weight: bold;
}

.pomodoro-timer-view .small-button {
    padding: 8px;
    -gtk-icon-size: 16px;
}
.pomodoro-timer-view .small-button.flat {
    border: 1px solid alpha(@theme_fg_color, 0.2);
}

.pomodoro-timer-view .large-button {
    padding: 16px;
    -gtk-icon-size: 24px;
}

.pomodoro-timer-view .suggested-action,
.pomodoro-timer-view .suggested-action:focus,
.pomodoro-timer-view .suggested-action:hover,
.pomodoro-timer-view .suggested-action:active {
    border: 0;
    color: @theme_base_color;
    background-color: @theme_fg_color;
    background-image: none;
}

.pomodoro-timer-view .suggested-action:focus {
    outline: 2px solid @focus_border_color;
}

.pomodoro-timer-view .suggested-action:backdrop,
.pomodoro-timer-view .suggested-action:disabled {
    color: @theme_bg_color;
    background-color: @insensitive_fg_color;
}

.pomodoro-timer-view .pomodoro-timer-state {
    font-weight: 700;
}

.pomodoro-timer-view .pomodoro-timer-state arrow {
    opacity: 0;
    margin-left: -16px;
}

.pomodoro-timer-view .pomodoro-timer-label {
    font-size: 55pt;
    font-weight: 400;
    opacity: 1.0;
}

.pomodoro-timer-view .pomodoro-timer-label > .separator-label {
    margin-left: -10px;
    margin-right: -10px;
}

.pomodoro-timer-view .pomodoro-timer-label.timer-paused {
    animation: blink 1500ms steps(2, start) infinite;
}

.pomodoro-timer-view .pomodoro-timer-label:backdrop,
.pomodoro-timer-view .pomodoro-timer-state label:backdrop {
    color: @insensitive_fg_color;
}

.pomodoro-timer-view .pomodoro-timer-label.timer-running:backdrop,
.pomodoro-timer-view .pomodoro-timer-state.timer-running label:backdrop {
    color: @theme_fg_color;
}



