@keyframes blink {
    0% { opacity: 1.0; }
    10% { opacity: 1.0; }
    30% { opacity: 0.2; }
    65% { opacity: 0.2; }
    85% { opacity: 1.0; }
    100% { opacity: 1.0; }
}

.pomodoro-header-bar viewswitcher.wide image {
    opacity: 0.001;  /* setting opacity to 0 causes errors */
    margin-right: -16px;
}

.pomodoro-header-bar viewswitcher.wide label {
    margin-right: 2px;
}

.keybinding {
    font-size: 16pt;
}

.keybinding .key {
    font-weight: bold;
    background-color: @theme_base_color;
    padding: 8px 16px;
    border: 1px solid alpha(@borders, 0.4);
    border-radius: 5px;
}

.pomodoro-list > row {
    padding: 12px 20px;
}

.pomodoro-list > row.pomodoro-wide-row {
    padding: 12px 15px;
}

.pomodoro-list > row.pomodoro-slim-row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pomodoro-plugin-name {
    font-weight: bold;
}

.pomodoro-plugin-description {
    font-size: small;
}

.pomodoro-state-button {
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: 1.2em;
    font-weight: bold;
}

.pomodoro-separator-label:backdrop {
    color: @insensitive_fg_color;
}

.pomodoro-screen-notification.background {
    background-color: rgba(0, 0, 0, 0.7);
}

.pomodoro-screen-notification {
    color: white;
    transition: opacity 180ms ease-out;
    opacity: 1.0;
}

.pomodoro-screen-notification.hidden {
    opacity: 0.0;
}

.pomodoro-screen-notification .pomodoro-timer-label,
.pomodoro-screen-notification .pomodoro-timer-label:backdrop {
    font-size: 55pt;
    font-weight: normal;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.10);
    color: white;
}

.pomodoro-screen-notification label,
.pomodoro-screen-notification label:backdrop {
    font-size: 11pt;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.35);
    color: white;
}

.pomodoro-timer-view .small-button {
    padding: 16px;
    -gtk-icon-size: 24px;
}

.pomodoro-timer-view .small-button.flat {
    border: none;
}

.pomodoro-timer-view .small-button:backdrop,
.pomodoro-timer-view .small-button:disabled {
    color: @insensitive_fg_color;
}

.pomodoro-timer-view .large-button {
    padding: 20px;
    -gtk-icon-size: 24px;
}

.pomodoro-timer-view .suggested-action,
.pomodoro-timer-view .suggested-action:focus,
.pomodoro-timer-view .suggested-action:hover,
.pomodoro-timer-view .suggested-action:active {
    border: 0;
    color: @theme_bg_color;
    background-color: @theme_fg_color;
    background-image: none;
}

.pomodoro-timer-view .suggested-action:focus {
    outline-width: 3px;
    outline-offset: 0px;
}

.pomodoro-timer-view .suggested-action:backdrop,
.pomodoro-timer-view .suggested-action:disabled {
    color: @theme_bg_color;
    background-color: @insensitive_fg_color;
}

.pomodoro-timer-view .pomodoro-timer-state {
    font-weight: 700;
}

.pomodoro-timer-view .pomodoro-timer-state arrow {
    opacity: 0;
    margin-left: -16px;
}

.pomodoro-timer-view .pomodoro-timer-label {
    font-size: 55pt;
    font-weight: 400;
    opacity: 1.0;
}

.pomodoro-timer-view .pomodoro-timer-label > .separator-label {
    margin-left: -10px;
    margin-right: -10px;
}

.pomodoro-timer-view .pomodoro-timer-label.timer-paused {
    animation: blink 1500ms infinite;
}

.pomodoro-timer-view .pomodoro-timer-label.timer-stopped {
    opacity: 0.2;  /* same as blink */
}

.pomodoro-timer-label:backdrop,
.pomodoro-timer-state label:backdrop,
.pomodoro-timer-progressbar:backdrop,
.pomodoro-session-progressbar:backdrop {
    color: @insensitive_fg_color;
}

.pomodoro-timer-progressbar {
    min-width: 300px;
    min-height: 300px;
}

.pomodoro-session-progressbar {
}

/* classes backported from Gtk4 */
/*
.dialog.message .title {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15pt;
    font-weight: bold;
}
*/
