.pomodoro-toolbar.toolbar {
    border-style: solid;
    border-color: @border_color;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
}

.pomodoro-toolbar.toolbar .button {
    padding: 1.0pt 5.0pt;
}

.pomodoro-timer .button {
    padding: 4px 6px;
}

.button.active {
    font-weight: bold;
}

.pomodoro-timer .label {
    padding: 0pt 0pt 0pt 0pt;
    font-family: "Droid Sans";
    font-size: 80px;
}

.pomodoro-timer .label:insensitive {
    text-shadow: -1.0px -1.5px #B0B0B0;
    color: #CCC;
}

.pomodoro-timer .text-inset {
    text-shadow: 1px 1px white;
}

.pomodoro-window {
}

.preferences-dialog {
}

.preferences-dialog EggListBox {
    -GtkWidget-focus-line-width: 0;
    -GtkWidget-focus-padding: 0;
}

.preferences-dialog .list {
    background-color: @base_color;
}

.preferences-dialog .list-section-label {
    color: #888;
    font-weight: bold;
    text-shadow: 1px 1px #EEEEEE;
    padding-top: 20pt;
    padding-bottom: 5px;
}

.preferences-dialog .list-section-label.first {
    padding-top: 0px;
}

.preferences-dialog .list-label {
}

.preferences-dialog .list-item {
}

