.pomodoro-header-bar viewswitcher.wide image {
    opacity: 0.001;  /* setting opacity to 0 causes errors */
    margin-right: -16px;
}

.pomodoro-header-bar viewswitcher.wide label {
    margin-right: 2px;
}

.keybinding {
    font-size: 16pt;
}

.keybinding .key {
    font-weight: bold;
    background-color: @theme_base_color;
    padding: 8px 16px;
    border: 1px solid alpha(@borders, 0.4);
    border-radius: 5px;
}


row.pomodoro-log-scale {
    padding: 14px 14px 7px 14px;
}

.pomodoro-list > row.pomodoro-slim-row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.pomodoro-plugin-name {
    font-weight: bold;
}

.pomodoro-plugin-description {
    font-size: small;
}

.pomodoro-state-button {
    padding-top: 5px;
    padding-bottom: 6px;
    font-size: 1.2em;
    font-weight: bold;
}


/**
 * PomodoroTimerControlButtons widget
 */
timercontrolbuttons.circular button {
    border-radius: 50%;
}


/**
 * PomodoroProgressBar widget
 */
progressbar {
}


/**
 * PomodoroTimerLabel widget
 */
timerlabel .placeholder {
    color: @unfocused_borders;
}


/**
 * PomodoroTimerView widget
 */
timerview button:backdrop,
timerview button:disabled {
    color: @insensitive_fg_color;
}

timerview timerlabel {
    font-size: 55pt;  /* reference size */
    font-weight: 400;
}

timerview sessionprogressbar {
    padding: 12px 0;
    margin: 0 6px;
}

timerview timercontrolbuttons button {
    padding: 16px;
    -gtk-icon-size: 24px;
}

timerview timercontrolbuttons button.suggested-action {
    padding: 20px;
}

timerview timercontrolbuttons .suggested-action,
timerview timercontrolbuttons .suggested-action:focus,
timerview timercontrolbuttons .suggested-action:hover,
timerview timercontrolbuttons .suggested-action:active {
    border: 0;
    color: @theme_bg_color;
    background-color: @theme_fg_color;
    background-image: none;
}

timerview .suggested-action:focus {
    outline-width: 3px;
    outline-offset: 0px;
}

timerview .suggested-action:backdrop,
timerview .suggested-action:backdrop:hover,
timerview .suggested-action:disabled {
    color: @theme_bg_color;
    background-color: @insensitive_fg_color;
}

timerview .pomodoro-state-menu > button {
    padding: 8px 12px 8px 16px;
}

timerview .pomodoro-state-menu arrow {
    opacity: 0;
    margin: 0;
    margin-left: -16px;
}

timerview timerlabel:backdrop,
timerview timerstatemenu label:backdrop,
timerview progressbar:backdrop,
timerview sessionprogressbar:backdrop {
    color: @insensitive_fg_color;
}

timerview:dir(rtl) .pomodoro-state-menu > button {
    padding: 8px 16px 8px 12px;
}

timerview:dir(rtl) .pomodoro-state-menu arrow {
    margin: 0;
    margin-right: -16px;
}


/**
 * PomodoroCompactTimerView widget
 */
compacttimerview {
    min-width: 300px;
    padding: 5px;
}

compacttimerview > grid > separator {
    margin-left: 7px;
}

compacttimerview .pomodoro-state-menu > button {
    padding: 3px 5px 3px 9px;
}

compacttimerview .pomodoro-state-menu arrow {
    opacity: 0;
    margin: 0;
    margin-left: -16px;
}

compacttimerview timerlabel {
    font-size: 16pt;
    font-weight: 600;
}

compacttimerview progressbar {
    padding: 0;
    padding-left: 9px;
}

compacttimerview timercontrolbuttons button {
    padding: 3px;
}

compacttimerview:dir(rtl) > grid > separator {
    margin: 0;
    margin-right: 7px;
}

compacttimerview:dir(rtl) .pomodoro-state-menu > button {
    padding: 3px 9px 3px 5px;
}

compacttimerview:dir(rtl) .pomodoro-state-menu arrow {
    margin: 0;
    margin-right: -16px;
}

compacttimerview:dir(rtl) progressbar {
    padding: 0;
    padding-right: 9px;
}


/*
 * Screen Overlay
 */
lightbox {
    background-color: rgba(0, 0, 0, 0.90);
    color: white;
    padding: 20px;
}

lightbox timerlabel {
    font-size: 65pt;
    font-weight: 400;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.20);
}

lightbox .message {
    font-size: 15pt;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
}

lightbox button {
    padding: 10px;
}

lightbox button:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

lightbox button:active {
    background-color: rgba(255, 255, 255, 0.30);
}


/*
 * Preferences window
 */

.preferences .sidebar {
    border: none;
}


/*
 * Common
 */

.numeric {
    font-feature-settings: "tnum";
}


/* classes backported from Gtk4 */
/*
.dialog.message .title {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15pt;
    font-weight: bold;
}
*/
